[data-theme="light"] {
	--color-primary: rgb(241, 80, 37);
	--color-selection: rgba(184, 205, 232, 0.5);
	--color-secondary: rgb(225, 225, 225);
	--color-offset: rgb(236, 236, 236);
	--color-text: rgb(17, 17, 17);
	--color-background: rgb(242, 242, 242);
	--color-semitransparent: rgba(227, 227, 227, 0.9);
	--color-semitransparent-hover: rgba(227, 227, 227, 0.7);
	--color-headerselection: rgba(238, 238, 238);
	--color-header: rgba(242, 242, 242, 0.8);
	--color-border: theme("colors.gray.900" / 10%);
	--color-low-contrast: rgb(238, 238, 238);
	--color-border-low-contrast: rgb(215, 215, 215);
	--color-code: rgb(23, 23, 23);
}

[data-theme="dark"] {
	--color-primary: rgb(241, 80, 37);
	--color-selection: rgba(105, 155, 216, 0.5);
	--color-secondary: rgb(48, 48, 48);
	--color-offset: rgb(25, 25, 25);
	--color-text: rgb(242, 242, 242);
	--color-background: rgb(17, 17, 17);
	--color-semitransparent: rgba(40, 40, 40, 0.9);
	--color-semitransparent-hover: rgba(40, 40, 40, 0.7);
	--color-headerselection: rgba(30, 30, 30);
	--color-header: rgba(17, 17, 17, 0.8);
	--color-border: rgb(38, 38, 38);
	--color-glow: var(--color-text);
	--color-low-contrast: rgb(23, 23, 23);
	--color-border-low-contrast: rgb(48, 48, 48);
	--color-code: rgb(48, 48, 48);
}
