---
import { getCollection } from "astro:content";
import getUniqueTags from "../../utils/getUniqueTags";
import BlogLayout from "../../layouts/blog-layout.astro";
import Tag from "../../components/tag.astro";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<BlogLayout title="Tags" page="Tags">
	<div class="flex justify-center px-10 xs:px-12 md:px-32">
		<ul>
			{tags.map((tag) => <Tag name={tag} />)}
		</ul>
	</div>
</BlogLayout>
