---
import BlogLayout from "~/layouts/blog-layout.astro";
import { Image } from "astro:assets";
import Profile from "src/assets/profile.png";
---

<BlogLayout title="About" page="About">
	<div class="flex flex-col items-center gap-8 pb-24">
		<Image
			src={Profile}
			alt="Profile"
			class="h-96 w-3/4 rounded-2xl object-cover object-right-top lg:w-1/2"
		/>
		<div class="text-md sm:text-default w-3/4 lg:w-1/2 px-4 text-center">
			Welcome to my website! I'm a sophmore at the University of Maryland majoring in Computer Science and Mathematics.
			I love to break down complex problems and build software that makes life easier. I'm currently working on research
			related to secure code generation and I am a technical lead for the UMD App Development Club. I also love to rock climb,
			hike, and garden in my free time. If you're enjoying this website, feel free to reach out!
		</div>
	</div>
</BlogLayout>
